[submodule "S1000_Transformer_NER"]
	path = S1000_Transformer_NER
	url = cd 
	branch = LSF-NER  # Specify the correct branch here
[submodule "LSFC"]
	path = LSFC
	url = https://github.com/EsmaeilNourani/Lifestyle-factors-classification.git
[submodule "S1000_Transformer_Tagger"]
	path = S1000_Transformer_Tagger
	url = https://github.com/jouniluoma/S1000-transformer-tagger.git
[submodule "standoff2conll"]
	path = standoff2conll
	url = https://github.com/spyysalo/standoff2conll.git